*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #f6f6f6;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  position: relative;
  // overflow: scroll;
}
#root {
  width: 100%;
  display: grid;
  grid-template-columns: max-content 1fr;
}
.App {
  width: 100%;
}
