.sidenav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: $background-color-primary-dark;
  padding: 2rem 0;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding-left: 20%;
    padding-right: 20%;

    &-icon {
      width: 6rem;
      height: 6rem;
      background-color: white;
      border-radius: 30%;
      margin-right: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
      overflow: hidden;
      img {
        height: 100%;
      }
    }

    &-text {
      font-size: 3rem;
      font-weight: 700;

      .wallet {
        color: #3a3c55;
      }
      .on {
        background: linear-gradient(to right, #6bbbb5, #77a3a6);
        background-clip: text;
        color: transparent;
      }
    }
  }
  .main-nav {
    flex-grow: 1;
    list-style-type: none;
    width: 100%;
    display: block;

    &-link {
      display: block;
      margin-bottom: 0.5rem;
      font-size: 1.9rem;
      font-weight: bold;
      color: #555975;
      text-decoration: none;
      width: 100%;

      .main-nav-item {
        padding-left: 20%;
        margin-right: 10%;
        display: grid;
        grid-template-columns: max-content 1fr max-content;
        align-items: center;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        border-radius: 0 2.5rem 2.5rem 0;

        &:hover {
          background-color: #e4e9ef80;
        }

        &-icon {
          min-width: 2.5rem;
          margin-right: 3rem;
          margin-left: 1rem;
          color: #a9aebd;
        }

        .notif-counter {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          height: 2.7rem;
          width: 2.7rem;
          border-radius: 40%;
          margin-right: 2.5rem;
          font-size: 1.6rem;
          color: $background-color-primary-dark;
          font-weight: bold;
          background-image: linear-gradient(to bottom right, #69669c, #222046);
        }

        .four-square {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          gap: 0.3rem;

          .square {
            width: 1rem;
            height: 1rem;
            border-radius: 0.1rem;
            background-color: #a9aebd;
          }
        }
        .menu-bars {
          display: grid;
          grid-template-rows: repeat(3, 1fr);
          gap: 0.4rem;
          height: 2rem;

          .menu-bar {
            height: 100%;
            background-color: #a9aebd;
          }
          .menu-bar-1 {
            margin-right: 1rem;
          }
          .menu-bar-3 {
            margin-right: 0.5rem;
          }
        }
      }
    }
    .active-link {
      color: #33a895;

      .main-nav-item {
        background-color: #e4e9ef;

        &-icon {
          color: #33a895;
        }

        .notif-counter {
          background-image: linear-gradient(to bottom right, #7ec8c4, #1c726c);
        }
        .four-square {
          .square1 {
            background-color: #9cd4d8;
          }
          .square2 {
            background-color: #7ec8c4;
          }
          .square3 {
            background-color: #5bbab8;
          }
          .square4 {
            background-color: #30a69e;
          }
        }
        .menu-bars {
          .menu-bar-1 {
            background-color: #7ec8c4;
          }
          .menu-bar-2 {
            background-color: #5bbab8;
          }
          .menu-bar-3 {
            background-color: #30a69e;
          }
        }
      }
    }
  }
  &-help {
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .sidenav-help-link {
      text-decoration: none;
      color: #7b7a86;
      font-weight: bold;
      font-size: 1.7rem;

      .help {
        padding: 0.7rem 1.5rem;
        background-color: #ffefff;
        display: flex;
        border-radius: 1rem;

        &-icon {
          margin-right: 1rem;
        }
      }
    }
    .sidenav-collapse {
      i {
        margin-right: 1.5rem;
        color: #7b7a86;
        cursor: pointer;
      }
    }
  }
}

.sidenav.expanded {
  width: 17.5vw;

  .sidenav-help {
    .sidenav-help-link {
      .help {
        &-icon {
        }
      }
    }
    .sidenav-collapse {
      i {
        transform: scale(-1, 1);
      }
    }
  }
}

.sidenav.collapsed {
  align-items: center;
  .logo {
    justify-content: center;
    align-items: center;
    padding: 0;
    &-icon {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    &-text {
      display: none;
    }
  }
  .main-nav {
    &-link {
      .main-nav-item {
        &-text {
          display: none;
        }
        .notif-counter {
          display: none;
        }
      }
    }
  }
  .sidenav-help {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    padding: 0;
    .sidenav-help-link {
      grid-row: 2 / span 3;
      // display: flex;
      .help {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &-icon {
          margin: 0;
        }
        &-text {
          display: none;
        }
      }
    }
    .sidenav-collapse {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      i {
        width: 100%;
        text-align: center;
        margin: 0;
      }
    }
  }
}
